/* Reset  */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.debug {
    border: 1px dashed black;
}
/* Inizio Header */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.row1 > *{
    background-color: #FF6900;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: white;
    width: calc(100% / 3);
}
.logo {
    width: 20%;
   padding-left: 100px;
}
.row1 > .col1 {
    text-align: center;
}
.row1 >.col3 {
    text-align: center;
}
header {
    margin-bottom: 20px;
}
/* Fine Header */
.row2 > .col1 {
    width: calc(100% / 3);
}
.product {
  width: 100%;
}
.label {
    position: relative;
}
.discount {
    color: white;
    position: absolute;
    left: 0;
    bottom: 20px;
    background-color: red;
}
.green {
    color: white;
    position: absolute;
    left: 40px;
    bottom: 20px;
    background-color: green;
}
.heart {
    color: black;
    background-color: white;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 10px;
}
.description {
    font-weight: bolder;
}
.price {
    color: red;
    font-weight: bolder;
}