/* Reset  */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* .debug {
    border: 1px dashed black;
} */
/* Inizio Header */
header {
    position: fixed;
   z-index: 1;
   top: 0;
   width: 100%;
}
.flex {
    display: flex;
}
.row1 > *{
    background-color: #FF6900;

    justify-content: space-around;
    padding: 15px;
    color: white;
    width: calc(100% / 3);
}
.logo {
    width: 20%;
   padding-left: 100px;
}
.col1-1 {
    text-align: center;
}
.col3-1 {
    text-align: center;
}
/* Fine Header */
/* Inizio Main */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}
.col1-2, .col2-2, .col3-2 {
    width: calc((100% / 3) - 40px);
}
.col2-2 {
    margin-left: 20px;
    margin-right: 20px;
}
.product {
  width: 100%;
}
.second-image {
    display: none;
    width: 100%;
}
 .label:hover .second-image{
    display: block;
}
.label:hover .product {
    display: none;
}
.label {
    position: relative;
}
.discount {
    color: white;
    position: absolute;
    left: 0;
    bottom: 20px;
    background-color: red;
    padding: 5px;
}
.green {
    color: white;
    position: absolute;
    left: 50px;
    bottom: 20px;
    background-color: green;
    padding: 5px;
}
.green2 {
    color: white;
    position: absolute;
    left: 0px;
    bottom: 20px;
    background-color: green;
    padding: 5px;
}
.heart {
    color: black;
    background-color: white;
    font-size: 30px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 10px;
}
.description {
    font-weight: bolder;
    text-transform: uppercase;
}
.price {
    color: red;
    font-weight: bolder;
}
.row2 {
    margin-bottom: 30px;
}
/* Fine Main */
/* Inizio Footer */
footer {
    background-color: black;
    color: white;
    margin-top: 20px;
}
.row3 {
    justify-content: space-around;
}
 .col1-3 > * {
    padding: 10px;
}
.col2-3 > * {
    padding: 10px;
}
